# Data Science tools and Ecosystem

In this notebook , data science and ecosystems are summarized

**objectives:
- data science languages
- data science tools 
- arithematic exepressions

some of popular languages that used in data science are:
1. R
2. python
3. sql

some of the commonly used libraries used by data scientests include:
1. ggplot
2. ploty
3. lattic
4. leaflet

|data science tools|
|:----------------:|
|apache spark      |
|hadoop            |
|mongoDB           |

### below are a few examples of evaluating arithematic expression in python

In [1]:
# this is a simple arithematic expression to multiply then add integers
(3*4)+5

17

In [2]:
# this will convert 200 minuits to hours by divide by 60
200/60

3.3333333333333335

## Aurhor
Mostafa Ashraf